.ant-advanced-search-form {
  padding: 12px;
}

::ng-deep .ant-form-item {
  margin-bottom: 15px;
}

::ng-deep span, .ant-input, .ant-select .ant-radio-group {
  display: flex;
  flex-direction: column;
}

::ng-deep .ant-input, .ant-picker{
  width: 100%;
  border:1px solid;
  border-color: #D9D9D9;
  border-radius: 4px;
}

.search-input-group {
  margin-left: 0px;
  display: flex;
}

.search-input-group>.ant-select:first-child{
  margin-right: 10px;
}

#searchButtonId {
  height: 40px;
  border-radius:4px;
  background: #BF00FF;
  border-color: #BF00FF;
  padding: 8px 16px;
  margin-right: 8px;
}

#modeRadioGroupId {
  margin-left:20px
}

#modeRadioId {
  margin:0;
}

.ant-input-group>.ant-input {
  border-radius: 4px
}

::ng-deep .anticon {
  color:black
}

.search-input-group {
  margin-left: 0px;
  display: flex;
}

.search-input-group>.ant-picker:first-child, .search-input-group>.ant-input:first-child{
  margin-right: 10px;
}

#manipulateOlderBetsCheckboxId {
  margin-left: 10px;
}
